@import'./utils/variables';
@import'./utils/visually-hidden';


@import'./base/common';
@import'./base/section';
@import'./base/container';

@import'./components/modal-btn';

@import'./layouts/header';
@import'./layouts/hero';
@import'./layouts/advantages';
@import'./layouts/what-we-are-doing';
@import'./layouts/our-team';
@import'./layouts/constant-clients';
@import'./layouts/footer';
@import'./layouts/portfolio-header';
@import'./layouts/portfolio-hero';
@import'./layouts/portfolio-projects';

@import'./components/backdrop';
@import'./components/modal-window';
@import'./components/modal-form';


