@media screen and (min-width: 320px) {
  .mobile-menu-social-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-contact-number {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: block;
    color: #757575;
    transition: color var(--transition-dur-and-fun) 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: var(--accent-color);
    }
  }
}
@media screen and (min-width: 400px) {
  .mobile-menu-social-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-contact-number {
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: block;
    color: #757575;
    transition: color var(--transition-dur-and-fun) 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: var(--accent-color);
    }
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu__container {
    padding: 48px 40px;
    height: 100%;
    overflow: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .mobile-menu-item--current {
    color: #2196f3;
  }

  .mobile-menu-weblink {
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color var(--transition-dur-and-fun) 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: var(--accent-color);
    }
  }
  .mobile-menu-weblink:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contact {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    margin-bottom: 64px;
  }

  .mobile-contact-email {
    display: block;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color var(--transition-dur-and-fun) 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: var(--accent-color);
    }
  }
  .mobile-menu-social-list {
    display: flex;
  }
  .mobile-menu-social-link {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    padding-left: 10px;
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
    &:first-child {
      padding-left: 0;
    }
  }
  .mobile-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    transition: fill var(--transition-dur-and-fun) 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: var(--accent-color);
    }
  }

  .mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms, cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .header__logo_link {
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
}
