.modal-window-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    margin-bottom: 10px;
}

.modal-form-input-desc {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    color: #000000;
    transition: border-color var(--transition-dur-and-fun);

    &:focus {
        border-color: var(--accent-color);
        outline: none;
    }
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    transition: fill var(--transition-dur-and-fun);
}

.modal-form-input:focus+.modal-form-input-icon {
    fill: var(--accent-color);
}

.modal-form-message {
    font-size: 12px;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px;
    transition: border-color var(--transition-dur-and-fun);
    border-radius: 4px;


    &::placeholder {
        color: rgba(117, 117, 117, 0.5);

    }

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 30px;

    &::before {
        content: '';
        display: block;
        width: 16px;
        height: 15px;
        border: 1px solid #212121;
        cursor: pointer;
        border-radius: 4px;
        margin-right: 7px;

        .modal-form-check:checked+&::before {
            background-color: var(--accent-color);
            background-image: url(../images/modal-window/Vector.png);
            background-origin: border-box;
            background-repeat: no-repeat;
            background-position: center;
            border: none;
        }

        .modal-form-check:focus+&::before {
            outline: var(--accent-color);
        }
    }
}
.modal-form-submit {
    align-self: center;
    min-width: 150px;
    height: 50px;
    line-height: 1.87;
    color: #ffffff;
    background: var(--accent-color);
    font-family: inherit;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    transition: var(--transition-dur-and-fun);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:focus {
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.agree-to-subscription {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.accept-terms-link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196f3;
}