.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.emoloyees-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .advantages-description {
    padding-bottom: 30px;
  }
  .icon-advantage-container {
    max-width: 768px;
  }
}
.icon-advantage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 25px;
  background: #f5f4fa;
}

.icon-advantage {
  width: 70px;
  height: 70px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle-text {
  line-height: 1.71;
  color: #757575;
}

// .list {
//   justify-content: center;
// }

@media screen and (min-width: 768px) {
  .list-advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .advantages-description {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .list-advantages {
    display: flex;
    margin: 0;
    padding: 0;

    gap: 30px;
    flex-wrap: nowrap;
  }
  .emoloyees-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
