.constant-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.constant-client-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.client-list-icon {
    width: 170px;
    height: 92px;
    transition: fill var(--transition-dur-and-fun);
}

.client-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition: border-color var(--transition-dur-and-fun);



    &:hover .client-list-icon,
    &:focus .client-list-icon {
        fill: #2196f3;
        cursor: pointer;
        transition: fill var(--transition-dur-and-fun);
    }

    &:hover,
    &:focus {
        border-color: #2196f3;
    }
}
.constant-client-item:not(:last-child) {
    margin-right: 30px;
}