.footer-container {
    display: flex;
    align-items: baseline;
}

.list-menu {
    list-style: none;
}

.footer-menu-item:not(:last-child) {
    margin-bottom: 10px;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
}

.contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition: color var(--transition-dur-and-fun), background var(--transition-dur-and-fun);


    &:hover,
    &:focus {
        color: var(--accent-color);
        transition: var(--transition-dur-and-fun);
    }
}

.logo-color-footer {
    color: #ffffff;
}

.contact-detail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-dur-and-fun), background var(--transition-dur-and-fun);


    &:hover,
    &:focus {
        color: var(--accent-color);
        transition: var(--transition-dur-and-fun);
    }
}

.footer-color {
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-social-list-container {
    margin-left: 70px;
}

.footer-social-list-item {
    list-style: none;
}

.footer-paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 20px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background var(--transition-dur-and-fun);


    &:hover,
    &:focus {
        background-color: var(--accent-color);
        transition: var(--transition-dur-and-fun);
    }
}

.footer-social-list-icon {
    fill: #ffffff;
}

.footer-subscribe-to-newsletter {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-subscription-container {
    align-items: center;
    margin-left: auto;
    background-color: #2f303a;
}

.footer-subscription-button {
    padding: 10px 28px;
    padding-top: 6px;
    padding-bottom: 8px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #ffffff;
    letter-spacing: 0.06em;
    /* display: flex;
  align-items: center; */
}

.footer-form-input {
    height: 50px;
    width: 358px;
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form-lable {
    border-radius: 4px;
}

.footer-submit-btn-icon {
    margin-left: 10px;
}

