.portfolio-list-hero {
    margin-bottom: 50px;
    border: none;
}

.portfolio-menu-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    font-family: inherit;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
    transition: color var(--transition-dur-and-fun), background var(--transition-dur-and-fun),
        box-shadow var(--transition-dur-and-fun);


    &:not(:last-child) {
        margin-right: 8px;
    }

    &:hover,
    &:focus {
        color: #ffffff;
        background: var(--accent-color);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        border-radius: 4px;
        transition: color var(--transition-dur-and-fun), background var(--transition-dur-and-fun),
            box-shadow var(--transition-dur-and-fun);
    }
}