.what-we-do {
    padding-top: 0;
}

.business-subheading {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.do-list {
    justify-content: center;
    display: flex;
    gap: 30px;
    list-style: none;
}